<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="styles/style.mini.css"> -->
    <link rel="stylesheet" href="styles/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./images/CTC_Secondary_Logo_Purple.png">

    <script src="./scripts/loadingstats.js" defer ></script>
    <script defer src="./scripts/emptystats.js" ></script>
    <script defer src="./scripts/mobileversie.js" ></script>
    <title>coding the curbs optimization </title>
</head>
<body>
    <div class="EmptyStates">
        <img src="./images/empty.svg" alt="empty state">
    </div>
    <div class="spinner-wrapper"><section class="loding_spinner"></section></div>
    <header>

        <picture id="logo__nav">
            <source srcset="./images/CTC_Primary_Logo_White.avif" type="image/avif">
            <source srcset="./images/CTC_Primary_Logo_White.webp" type="image/webp">
            <img src="./images/CTC_Primary_Logo_White.png" alt="logo" width="138px" height=" 45px">

            
        </picture>
       
        
        
        <a href="#" class="toggle__button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>

        <nav>

            <ul class="nav__baar">
                <li><a class="link__nav" href="">Services</a></li>
                <li><a class="link__nav" href="">Updates</a></li>
                <li><a class="link__nav" href="">Over Ons</a></li>
                <li><a class="link__nav" href="https://www.codingthecurbs.com/contact?lang=nl">Contact</a></li>
            </ul>

        </nav>

    </header>
   <main>
      


